<div class="form-container">
  <h2>Payment</h2>
  <form (ngSubmit)="submitPayment()">
    <label>User ID:</label>
    <input type="number" [(ngModel)]="payment.userId" name="userId" required />

    <label>Amount:</label>
    <input type="number" [(ngModel)]="payment.amount" name="amount" required />

    <label>Payment Method:</label>
    <select [(ngModel)]="payment.paymentMethod" name="paymentMethod">
      <option value="Card">Card</option>
      <option value="Cash">Cash</option>
      <option value="Net Banking">Net Banking</option>
    </select>

    <label>Transaction Id:</label>
    <input
      type="text"
      [(ngModel)]="payment.transactionId"
      name="transactionId"
    />

    <button type="submit">Submit Payment</button>
  </form>

  <div *ngIf="errorMessage" style="color: red; margin-top: 10px">
    {{ errorMessage }}
  </div>

  <div *ngIf="response">
    <h3>Payment Successful</h3>
  </div>
</div>
